h1{
    text-align: center;
    color: aquamarine;
}

button{
    width: 100px;
}

body{
    background-color: rgb(0, 21, 48);
    margin:0px;
    margin-top: 35px;
}

.buttons{
    margin: 0px;
    background-color: aqua;
    
    display: flex;
    justify-content: center;
}

.center-box{
    background-color: red;
    display: flex;
    justify-content: center;
    width: 500px; 
}

.center-box > button{
    border: none;
    cursor: pointer;
    background-color: auto;

    margin: 10px;
    height: 50px;
    width: 30%;
    min-width: 100px;

    transition: 250ms;
    display: inline-block;
}
.center-box > button:hover {
    width: 40%;
    transition: 250ms;
    background-color: blueviolet;
}

#resetScore{
    margin-top: 10px;
}
#resetScore:hover {
    background-color: rgb(184, 189, 172)
}

.center {
    justify-content: center;
    display:flex;
}

#resultDisplay{
    text-align: center;
    min-height: 25px;
    border: none;
    
    margin-top: 10px;
    width: 350px;
    margin-inline: auto;

    color: white;
    display: flex;
    justify-content: space-between;
}